a3mcat==0.1.0a5
a3mtools==0.1.0a6
absl-py==2.2.2
accelerate==1.11.0
acpype @ file:///home/conda/feedstock_root/build_artifacts/acpype_1698417204075/work
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anndata==0.11.4
annotated-types==0.7.0
anyio==4.11.0
appdirs==1.4.4
array-api-compat==1.12.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
astunparse==1.6.3
attrs==25.4.0
beautifulsoup4==4.12.3
biopandas==0.5.1
biopython==1.86
bioservices==1.12.1
biotite==1.5.0
biotraj==1.2.2
blessed==1.38.0
blinker==1.9.0
boto3==1.40.75
botocore==1.40.75
brotli==1.2.0
bs4==0.0.2
cachetools==6.2.2
cairocffi==1.7.1
CairoSVG==2.8.2
cattrs==25.3.0
causal-conv1d==1.5.0.post8
cellphonedb==5.0.1
certifi==2025.11.12
cffi==1.17.1
chanfig==0.0.112
charset-normalizer==3.4.4
click==8.1.8
cloudpathlib==0.23.0
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
colour==0.1.5
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1762525251295/work
cpdb-protein==0.2.0
cssselect2==0.8.0
cuda-bindings==12.9.4
cuda-core==0.3.2
cuda-pathfinder==1.3.2
cuda-python==12.9.4
cuda-toolkit==12.9.1
cudf-cu12==25.10.0
cugraph-cu12==25.10.1
cupy-cuda12x==13.6.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
Cython==3.1.1
danling==0.3.13
dask==2025.9.1
dask-cuda==25.10.0
dask-cudf-cu12==25.10.0
datasets==4.4.1
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
deepdiff==8.6.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
diskcache==5.6.3
distributed==2025.9.1
distributed-ucxx-cu12==0.46.0
distro==1.9.0
dm-tree==0.1.9
dna_features_viewer==3.1.5
docker-pycreds==0.4.0
draw_rna==0.4.3
drawsvg==2.4.0
easydev==0.13.3
easydict==1.13
einops==0.8.1
esm==3.2.3
et_xmlfile==2.0.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fair-esm==2.0.0
fastrlock==0.8.3
fbpca==1.0
filelock==3.20.0
fire==0.7.0
flash_attn==2.8.3
Flask==3.1.0
flatbuffers==25.2.10
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1759187078489/work
forgi==2.2.3
frozenlist==1.8.0
fsspec==2025.10.0
future==1.0.0
gast==0.6.0
gemmi==0.7.3
geosketch==1.3
gevent==25.9.1
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
gpustat==1.1.1
graphein==1.7.7
greenlet==3.2.4
grequests==0.7.0
grpcio==1.71.0
h11==0.16.0
h5py==3.13.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1762350942/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets==8.1.8
itsdangerous==2.2.0
jaxtyping==0.3.3
jedi==0.19.2
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.5.2
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyterlab_widgets==3.0.16
keras==3.9.2
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1762488738/work
ktplotspy==0.3.2
lazy_imports==1.1.0
legacy-api-wrap==1.4.1
Levenshtein==0.27.1
libclang==18.1.1
libcudf-cu12==25.10.0
libcugraph-cu12==25.10.1
libkvikio-cu12==25.10.0
libraft-cu12==25.10.0
librmm-cu12==25.10.0
libucx-cu12==1.19.0
libucxx-cu12==0.46.0
lightning-utilities==0.15.2
line_profiler==4.2.0
llvmlite==0.44.0
locket==1.0.0
logging_exceptions==0.1.9
logomaker==0.8.7
loguru==0.7.3
looseversion==1.1.2
lxml==5.3.0
mamba-ssm @ file:///data/ymxue/p4_protna/mamba_ssm-2.2.4%2Bcu12torch2.6cxx11abiFALSE-cp312-cp312-linux_x86_64.whl#sha256=8c7c61cafdd9afecab6dc59f8afa0962d24d4bbc36b289f53c860d9694cbf624
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl==0.1.2
mizani==0.13.5
ml_collections==1.1.0
ml_dtypes==0.5.1
mmcif==1.0.0
mmtf-python==1.1.3
mpmath==1.3.0
msgpack==1.1.2
msgpack-numpy==0.4.8
multidict==6.7.0
multimolecule==0.0.6
multipledispatch==1.0.0
multiprocess==0.70.18
munkres==1.1.4
namex==0.0.8
narwhals==2.12.0
natsort==8.4.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.5
ninja==1.11.1.4
numba==0.61.2
numba-cuda==0.19.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225359967/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=031b7d6b2e5e604d9e21fc21be713ebf28ce133ec872dce6de006742d5e49bab
numpy-groupies==0.11.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cccl-cu12==12.9.27
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
nvitop==1.6.2
nvtx==0.2.14
openai==1.60.1
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.15.0
orderly-set==5.5.0
outcome==1.3.0.post0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1759265541279/work
ParmEd @ file:///home/conda/feedstock_root/build_artifacts/parmed_1739840208222/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
partd==1.4.2
patsy==1.0.1
pdb4amber==1.4.1
peft==0.15.2
pexpect==4.9.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1764033139/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly==6.5.0
plotnine==0.14.5
pluggy==1.6.0
prettytable==3.17.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache==0.4.1
protobuf==5.29.4
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1762092914/work
ptflops==0.7.4
ptyprocess==0.7.0
pure_eval==0.2.3
py3Dmol==2.5.3
pyarrow==22.0.0
pyBigWig==0.3.24
pyCirclize==1.9.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydssp==0.9.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pygtrie==2.5.0
pylibcudf-cu12==25.10.0
pylibcugraph-cu12==25.10.1
pylibraft-cu12==25.10.0
pynndescent==0.5.13
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
PySocks==1.7.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.1.post0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML==6.0.3
pyzmq @ file:///croot/pyzmq_1734687138743/work
raft-dask-cu12==25.10.0
RapidFuzz==3.13.0
rapids-dask-dependency==25.10.0
rapids-logger==0.1.19
rdat-kit==1.6.3
regex==2025.11.3
requests==2.32.5
requests-cache==1.2.1
rich==14.0.0
rich-click==1.9.4
rmm-cu12==25.10.0
rna-fm==0.2.2
s3transfer==0.14.0
safetensors==0.6.2
scanpy==1.11.1
scikit-learn==1.5.2
scipy==1.18.0
seaborn==0.13.2
selenium==4.28.0
sentencepiece==0.2.1
sentry-sdk==2.27.0
session-info2==0.1.2
setproctitle==1.3.6
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
stack-data==0.6.3
statsmodels==0.14.4
suds-community==1.2.0
svgpathtools==1.7.1
svgwrite==1.4.3
sympy==1.14.0
tblib==3.2.2
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.0.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.21.4
toolz==1.1.0
torch==2.9.1
torch-geometric==2.7.0
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.9.1
torcheval==0.0.7
torchmetrics==1.8.2
torchtext==0.18.0
torchvision==0.24.1
tornado @ file:///croot/tornado_1733960490606/work
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.1
Tree==0.2.4
trio==0.28.0
trio-websocket==0.11.1
triton==3.5.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
ucxx-cu12==0.46.0
umap-learn==0.5.7
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1763054767730/work
url-normalize==2.2.1
urllib3==2.5.0
varnaapi==1.2.0
ViennaRNA==2.7.0
wadler_lindig==0.1.7
wandb==0.19.11
wcwidth==0.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wget==3.2
wheel==0.44.0
widgetsnbextension==4.0.15
wrapt==1.17.2
wsproto==1.2.0
xarray==2025.11.0
xlrd==2.0.2
xlwt==1.3.0
xmltodict==0.14.2
xxhash==3.6.0
yarl==1.22.0
zict==3.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zope.event==6.1
zope.interface==8.1.1
zstd==1.5.7.2
